.navbar{
    background-color: black;
    height: 60px;
}

.nav-link{
    color: green;
    font-size: 25px;
}

.nav-item-container{
    background-color: white;
    border: solid;
    border-radius: 16px;
    opacity: 0.5;
    margin: 10px;
}

.search-container{
    display: inline-block;
    margin: 10px;
}

a:hover{
    background-color: red;
    border-radius: 16px;
    color: black;
    font-weight: bold; 
}

.form-inline{
    align-content: inline;
}

.searchBtn:hover{
    border: solid;
    border-width: 2px;
    border-radius: 8px;
    background-color: white;
    height: 40px;
    background-color: green;
    color: white;
}

.log-in-container{
    padding-left: 15px;
    padding-right: 15px;
    align-content: center;
    font-size: 15px;
    
}
.log-in-header{
    align-content: left;
}
.log-in-un{
    font-size: 10px;
    display: inline-block;
    
}

.log-in-pw{
    font-size: 10px;
    display: inline-block;
}

