.card-body {
    background-image: url(http://clipart-library.com/img/1350409.png);
}

#second {
    background-image: url(http://clipart-library.com/img/1350409.png);
}

#third {
    background-image: url(http://clipart-library.com/img/1350409.png);
}

