#fifth {
    background-image:   url("http://www.transparentpng.com/thumb/flat-shoes/flat-shoe-fashion-icons-png-32.png");
    background-repeat:  no-repeat;
    background-size:    cover;
    height:             280px;
    width:              400px;  
}

#sixth {
    background-image:  url("https://images.vexels.com/media/users/3/146877/isolated/preview/3fd05c1cc6e89402c941c471c89f74ae-women-shoe-icon-sign-by-vexels.png");
    background-repeat: no-repeat;
    background-size:   cover;
    height:             280px;
    width:              400px;
}

#seventh {
    background-image:   url("https://www.nicepng.com/png/detail/395-3955218_free-ballet-shoes-clipart-download-free-clip-art.png");
    background-repeat:  no-repeat;
    background-size:    cover;
    height:             280px;
    width:              400px;
}

#eighth {
    background-image:   url("https://www.pngrepo.com/download/90771/girls-flat-shoe.png");
    background-repeat:  no-repeat;
    background-size:    cover;
    height:             280px;
    width:              400px;
}

