#fifth {
    background-image:   url("https://cdn.clipart.email/cb2469b3b1611efcc2de5a97ed0d678f_shoe-clipart-free-google-search-quilt-project-pinterest-_300-300.jpeg");
    background-repeat:  no-repeat;
    background-size:    cover;
    height:             200px;
    width:              350px;  
}

#sixth {
    background-image:  url("https://image.flaticon.com/icons/png/512/40/40249.png");
    background-repeat: no-repeat;
    background-size:   cover;
    height:             280px;
    width:              400px;
}

#seventh {
    background-image:   url("https://www.nicepng.com/png/detail/395-3955218_free-ballet-shoes-clipart-download-free-clip-art.png");
    background-repeat:  no-repeat;
    background-size:    cover;
    height:             280px;
    width:              400px;
}

#eighth {
    background-image:   url("https://i.pinimg.com/236x/c7/8f/1e/c78f1e5f773e33eb849db497fd76ddb7--womens-high-heels-shoe-coloring-page.jpg");
    background-repeat:  no-repeat;
    background-size:    cover;
    height:             280px;
    width:              400px;
}

